<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.5">

            <buildProviders>
                <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
                <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
            </buildProviders>
        </compilation>

        <httpHandlers>
            <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
        </httpHandlers>
    </system.web>

    <appSettings>
        <!-- My URL -->
        <add key ="octopussy:url" value="http://localhost:1329"/>

        <!-- Slack token for validation of incoming request -->
        <add key="slack:token" value="#{token}" />

        <!-- Slack incoming webhook for posting responses -->
        <add key="slack:webhookurl" value="https://hooks.slack.com/services/#{hookdetails}" />

        <!-- Slack username/icon for this BOT -->
        <add key="slack:username" value="#{username}" />
        <add key="slack:icon" value="#{icon}" />

        <!-- Used by /test endpoints for debug -->
        <add key="test:channel" value="#{test_username}"/>

        <!-- ApiKey to access github -->
        <add key="github:apikey" value="#{apikey}"/>

        <!-- URL to access github (leave blank for github.com -->
        <add key="github:url" value=""/>
    </appSettings>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <httpErrors existingResponse="PassThrough" />
        <handlers>
            <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
        </handlers>
    </system.webServer>
    <system.web.webPages.razor>
        <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
            <namespaces>
                <add namespace="Nancy.ViewEngines.Razor" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>

</configuration>
